@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container{
    width: 100vw;
    height: 60vh;
    background: linear-gradient(90deg, #e4ebc428 0%, #FA709A 100%);
    display: flex;
    justify-content: center;
}

.container h1{
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    
}

.menu{
    border-radius: 4px;
    color: white;
    padding: 0.1%;
    display: flex;
    justify-content: space-around;
}


.tipo{
    width: 100vw;
    height: 4vh;
    background-color: rgba(185, 134, 110, 0.904);
    opacity: 0.8;
    display: flex;  
    position:fixed; 
    padding: 7px;
    font-family: 'PT Sans', sans-serif;   
}

.link{
    display: flex;
    
}

.login{
    margin-left: 20px;
}

.log{
    position:absolute;
    display: flex;
    z-index: 1;
    justify-content: flex-end;
}

.image{
    opacity: .1;
    position: absolute;
    top: 57%;
    left: 2%;
    position: fixed;  
}
 
