@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.container{
    width: 100vw;
    height: 60vh;
    background: linear-gradient(90deg, #e4ebc428 0%, #FA709A 100%);
    display: flex;
    justify-content: center;
}

.container h1{
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    padding: 1rem;
}



.menu{
    border-radius: 4px;
    color: white;
    padding: 0.1%;
    display: flex;
    justify-content: space-around;
}


.tipo{
    width: 100vw;
    height: 4vh;
    background-color: rgba(185, 134, 110, 0.904);
    opacity: 0.8;
    display: flex;  
    position:fixed; 
    padding: 7px;
    font-family: 'PT Sans', sans-serif;   
}

.link{
    display: flex;
    
}

.login{
    margin-left: 20px;
}

.log{
    position:absolute;
    display: flex;
    z-index: 1;
    justify-content: flex-end;
}


main{
    display:flex;
    flex-grow: 1;
    justify-content: space-between;
}


.pie{
    background-color: rgba(185, 134, 110, 0.904);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.aviso{
    margin-left: 25px;
}

.poli{
    margin-right: 25px;
}

.caja1{
    background-color: black;
    color: white;
    width: 37rem;
}


 
